.mainImage{
    width: 100vw;
    height: 99vh;
    object-fit: cover;
    object-position: center;
}

.homePage p{
    font-size: 4.25rem;
    font-weight: 550;
    text-align: center;
}

.homePage p span{
    font-size: 3.75rem;
    font-weight: 600;
}

.content{
    position: absolute;
    top: 40%;
    left: 5%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homePage button{
    background-color: #ff3300;
    border: 1px solid white;
    padding: 0.75rem 1.15rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.5s ease-out;
}

.homePage button:hover{
    border: 1px solid #ff3300;
    background-color: white;
    color: #ff3300;
}